<% include ../partials/header %>

<div class="container">
    <div class="row">
            <h1>Add a New Photo to <%= site.name %></h1>
            <div class="form-block">
                <form action="/sites/<%= site._id %>" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="image url" name="photo[link]" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" type="text" placeholder="caption" name="photo[caption]"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-medium btn-default btn-block">Submit</button>
                    </div>
                </form>
                <hr>
                <a class="form-control btn btn-small btn-info" href="/sites/<%=site._id%>">Back to <%=site.name%></a>
            </div>
    </div>
</div>
<% include ../partials/footer %>