<!DOCTYPE html>

<html>
    <head>
        <title>picturesque</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js" type=text/javascript async></script>
    </head>
    <body>

    <div class="container">
    	<div class="row">
    		<div class="col-lg-12">
    			<div id="content">
    				<h1>picturesque</h1>
    				<h3>find a location for your next photoshoot!</h3>
    				<hr>
    				<a class="btn btn-default btn-lg" href="/sites"> View Sites </a><br><br>
    				<a class="btn btn-primary" href="/login"> Login </a>
    				<a class="btn btn-primary" href="/register"> Register </a>
    			</div>
    
    		</div>
	</div>
	
	<ul class="slideshow">
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	</ul>
	
<% include partials/footer %>