<% include ../partials/header %>

<div class="container">
    <div class="row">
            <h1>Create a New Site</h1>
            <div class="form-block">
                <form action="/sites" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="site name" name="name">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" type="text" placeholder="site description" name="description"></textarea>
                    </div>
                    
                    <h3>Select a Rating</h3>
                        <fieldset class="rate-stars new-site">
                            <input type="radio" id="star5" name="score" value="5" /><label class = "full" for="star5"></label>
                            <input type="radio" id="star4" name="score" value="4" /><label class = "full" for="star4"></label>
                            <input type="radio" id="star3" name="score" value="3" /><label class = "full" for="star3"></label>
                            <input type="radio" id="star2" name="score" value="2" /><label class = "full" for="star2"></label>
                            <input type="radio" id="star1" name="score" value="1" /><label class = "full" for="star1"></label>
                        </fieldset> <br>
                    
                    <hr>
                    
                    <h3>Add a Photo</h3>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="image url" name="photo[link]">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="image caption" name="photo[caption]">
                    </div>

                                        
                
                    
                    <div class="form-group">
                        <button class="btn btn-primary btn-medium btn-default btn-block">Submit</button>
                    </div>
                </form>
                <hr>
                <a class="form-control btn btn-small btn-info" href="/sites">Back to All Sites</a>
            </div>
    </div>
</div>
<% include ../partials/footer %>