body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

h1 {
    text-align: center;
}

.display-1 {
    text-align: justify;
}

h3 {
    text-align: center;
}

.list-group-item:hover {
    background-color: #DDD;
}

.thumbnail img {
    width: 100%;
}

.well {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment {
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment:nth-of-type(2n) {
    background-color: #C8C8C8;
}

.editcomment {
    font-size: 11px;
}

p {
    margin: 0px;
}

.form-block {
    width: 30%; 
    margin: 25px auto;
}

.navbar-brand {
    font-size: 25px;
}

.navbar {
    font-family: 'Raleway';
    margin-bottom: 0;
    padding-bottom: 10px;
}

#brand-logo {
    font-size: 30px;
}

#current-user {
    color: #EEE;
    font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a {
    padding-top: 20px;
}

.jumbotron {
    font-family: 'Raleway';
    text-transform: lowercase;
    margin-bottom: 0px;
}

.container {
    padding-top: 25px;
}

.container-fluid.header {
    padding: 0px;
}

.btn {
    font-family: 'Raleway';
}

.rating {
    text-align: center;
}