body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

h1 {
    text-align: center;
}

.display-1 {
    text-align: justify;
}

h3 {
    text-align: center;
}

.list-group-item:hover {
    background-color: #DDD;
}

.thumbnail img {
    width: 100%;
}

.well {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment {
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment:nth-of-type(2n) {
    background-color: #C8C8C8;
}

.editcomment {
    font-size: 11px;
}

p {
    margin: 0px;
}

.form-block {
    width: 30%; 
    margin: 25px auto;
}

.navbar-brand {
    font-size: 25px;
}

.navbar {
    font-family: 'Raleway';
    margin-bottom: 0;
    padding-bottom: 10px;
}

#brand-logo {
    font-size: 30px;
}

#current-user {
    color: #EEE;
    font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a {
    padding-top: 20px;
}

.jumbotron {
    font-family: 'Raleway';
    text-transform: lowercase;
    margin-bottom: 0px;
}

.container {
    padding-top: 25px;
}

.container-fluid.header {
    padding: 0px;
}

.btn {
    font-family: 'Raleway';
}

.rating {
    margin: auto;
}

.fa {
    color: #FFD700;
    margin: 2px;
}

.carousel-caption {
    padding-bottom: 0px;
}

.carousel-caption a:hover {
    color: white;
}

.user-interactions {
    text-align: center;
}

textarea.form-control {
    height: 100px;
}

.show-site {
    padding-left: 70px;
}

.new-site {
    padding-left: 95px;
    font-size: 1.5em;
    letter-spacing: 4px;
}

/****** Style Star Rating Widget *****/

.rate-stars { 
  border: none;
  float: left;
  margin-top: -5px;
}

.rate-stars > input { display: none; } 
.rate-stars > label:before { 
  margin: 5px;
  font-family: FontAwesome;
  /*display: inline-block;*/
  content: "\f005";
}

.rate-stars > label { 
  color: #ddd; 
 float: right; 
}

.rate-stars > input:checked ~ label, /* show gold star when clicked */
.rate-stars:not(:checked) > label:hover, /* hover current star */
.rate-stars:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rate-stars > input:checked + label:hover, /* hover current star when changing rating */
.rate-stars > input:checked ~ label:hover,
.rate-stars > label:hover ~ input:checked ~ label, /* lighten current selection */
.rate-stars > input:checked ~ label:hover ~ label { color: #FFED85;  } 